@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* Add light/dark mode color change function */
* {
  /* CSS reset */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border-box makes padding not effect the width/height of elements*/
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* font-size for rem */
}

img {
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #e3e8ec;
}

.current-temp-side {
  height: 14rem;
  width: 7rem;
  position: absolute;
  top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.current-temp-side .current-icon {
  background: #353688;
  opacity: 0.9;
  height: 100%;
  z-index: 1;
  width: 100%;
  border-radius: 0% 20% 20% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-temp-side .current-conditions {
  color: #ffffff;
}

.current-temp-side .showcase-icon {
  height: 70%;
  width: 70%;
  border-radius: 50px;
  padding: 0rem;
}

.current-temp-side .current-temp {
  background: #7768e4;
  opacity: 0.9;
  color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 0% 20% 20% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-temp-side .current-temp p {
  font-size: 2rem;
  font-weight: bold;
}

.main-container {
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 1.5fr;
      grid-template-columns: repeat(3, 1fr) 1.5fr;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
  background: #ffffff;
  height: 95%;
  padding: 50px;
  border-radius: 40px;
  margin: 5rem auto;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 90%;
}

.showcase-container {
  max-width: 80vw;
  max-height: 30vh;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* overflow hidden so no scroll bar on extra content that overflows its container */
  overflow: hidden;
}

.showcase-container video {
  min-width: 100%;
  min-height: 100%;
  /* similar to background positioning */
  -o-object-fit: cover;
     object-fit: cover;
  /* This block of code fixes effect where the video was not scaling with the size of the device */
  position: absolute;
  /* moves this down from the top 50% and left 50%
    The video element winds up in bottom right corner after this but 
    it is the CENTER of the video frame like we want because we want the frame to scale and always stay in the middle */
  top: 50%;
  left: 50%;
  /* This property translates along the x & y axis. Same concept of translating triangles in math.
    By using translate we are able to move the video back to normal position
    */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-container:after {
  /* content goes here if you want but CSS needs the content property whether you put some or not */
  content: '';
  /* absolute positioning to take out of document flow and position like video container */
  position: absolute;
  /* since we dont want element to move from top left corner we set the top and left properties to 0
  and then set the width and height to 100% so element takes up entire vh & vw */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* rgba = Red, green,blue, alpha 
      using rgba colors is a more elegant way of achieving the same transluscent effect opacity gives
      the last value, the a value is the value for OPACITY of the color  
  */
  background: rgba(4, 6, 13, 0.6);
}

.content {
  /* Sets the container wrapping the content to a high z index to be placed on top of the video container.
  This is possible because of the video containers absolute positioning. It is removed out of document flow and content container takes its place */
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header {
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  border-radius: 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

header .current-temp-showcase-2 {
  font-size: 1.5rem;
}

header .showcase-icon-2 {
  height: 3.5rem;
  width: 3.5rem;
  padding-bottom: 10px;
  border: none;
}

header .temp {
  display: none;
}

header .showcase-location {
  font-size: 2rem;
  text-shadow: 1px white;
  font-weight: normal;
  padding-bottom: 0px;
}

header .current-temp-showcase-2 {
  margin-top: 5px;
}

header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 11;
}

header .location .fas {
  padding: 10px;
  margin-top: 5px;
  color: #7768e4;
}

header .fa-sync-alt {
  font-size: 1.5rem;
}

header .fa-sync-alt:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  color: green;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 11;
  padding-left: 2rem;
}

.column-small {
  height: 240px;
}

.fa-sun {
  color: #ff8838;
}

.fa-wind {
  color: #b8b9bd;
}

.fa-cloud-showers-heavy,
.fa-cloud,
.fa-cloud-sun {
  color: #7768e4;
}

.fa-arrow-alt-circle-down,
.fa-arrow-alt-circle-up {
  color: #ffde4c;
}

.weather-icon {
  width: 3.125rem;
  height: 3.124rem;
  border: none;
}

.fa-location-arrow {
  color: #7768e4;
}

.fa-plus-square {
  color: #353688;
}

.showcase-icon {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
}

.forecast-heading {
  margin: 0px 0px 1rem 1rem;
  font-size: 20px;
}

.forecast-heading-bold {
  font-weight: bold;
  font-size: 20px;
}

.forecast-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1.5rem;
  height: 240px;
}

.forecast-card {
  -webkit-box-shadow: 1px 1px 1px 1px #e3e8ec;
          box-shadow: 1px 1px 1px 1px #e3e8ec;
  border: 1px solid #e3e8ec;
  border-radius: 15px;
  font-size: 20px;
  height: 4rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.5fr 1.5fr 1fr;
      grid-template-columns: 0.5fr 1.5fr 1fr;
}

.forecast-card i {
  padding-left: 1rem;
}

.forecast-card .conditions {
  font-size: 0.8rem;
  color: #bfbfc4;
}

.forecast-card .day,
.forecast-card .conditions {
  padding: 0 2px;
}

.forecast-card .cloud-blue {
  background: #7768e4;
  border-color: #7768e4;
  color: #ffffff;
}

.forecast-text {
  padding: 5px;
}

.forecast-num {
  background: #dee7f4;
  border: 10px solid #dee7f4;
  height: 110%;
  width: 110%;
  color: #0d0d24;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* y */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* x */
}

.forecast-num p {
  font-size: 0.9rem;
}

.highlights {
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.highlights .humidity-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.highlights .humidity-text span {
  font-size: 2rem;
  font-weight: bold;
}

.highlights .sunrise-sunset-text {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlights .sunrise-sunset-text .sunrise-text,
.highlights .sunrise-sunset-text .sunset-text {
  padding: 0 0.2rem 0rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.highlights .sunrise-sunset-text p {
  padding: 0.3rem 0;
}

.highlights .wind-speed, .highlights .wind-direction {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.highlights .wind-speed span {
  font-size: 2rem;
  font-weight: bold;
}

.highlights .uv-index {
  width: 90%;
  height: 2rem;
  border: 1px solid #e3e8ec;
  border-radius: 40px;
  background: #f9f9f9;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlights .uv-index-progress {
  color: #ffffff;
  border-radius: 15px;
  font-weight: bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlights-heading {
  margin: 0px 0px 1rem 1rem;
  font-size: 20px;
}

.highlights-heading-bold {
  font-weight: bold;
  font-size: 20px;
}

.highlights-container {
  display: -ms-grid;
  display: grid;
  gap: 2px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 0;
}

.highlights-1, .highlights-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlights-1, .highlights-2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.highlights-card {
  min-height: 6rem;
  -webkit-box-shadow: 1px 1px 1px 1px #e3e8ec;
          box-shadow: 1px 1px 1px 1px #e3e8ec;
  border: 1px solid #e3e8ec;
  border-radius: 15px;
  padding: 1rem;
  margin: 0.5rem 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.highlights-card-heading {
  color: #bfbfc4;
  padding: 0 0 2% 5%;
}

.highlights i {
  padding: 0 10px;
}

.highlights h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0 auto;
  color: #0d0d24 span;
  color-font-weight: normal;
  color-font-size: 2rem;
}

.cities {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  max-height: 31.25rem;
  z-index: 12;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.cities .add {
  padding: 0.5rem;
  max-height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* X */
  -ms-flex-line-pack: justify;
      align-content: space-between;
  /* y */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cities .add input {
  max-width: 80%;
  min-height: 100%;
  min-width: 70%;
  border: none;
  background-color: #ffffff;
}

.cities .add input:focus {
  outline: none;
}

.cities .add .fa-plus-square {
  margin: 0 auto 0 3rem;
}

.cities-selection {
  -webkit-box-shadow: 1px 1px 1px 1px #e3e8ec;
          box-shadow: 1px 1px 1px 1px #e3e8ec;
  border: 1px solid #e3e8ec;
  border-radius: 15px;
  max-height: 8rem;
  background: #ffffff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cities-selection .fa-times-circle {
  pointer-events: none;
  /* css property makes you not be be able to click on html element anymore 
                We use this so icon tag does not block button event listener 
            */
  color: #ff6259;
}

.cities-selection .location-button {
  background: none;
  border: none;
  margin-top: 0.3rem;
}

.cities-selection-add-location {
  padding: 0.5rem;
  border: 1px solid #e3e8ec;
  border-radius: 10px;
}

.cities-selection-add-location:active {
  border: none;
}

.cities-selection .weather-icon-cities {
  width: 5rem;
  height: 5rem;
}

.cities-selection .cities-icon-container {
  background: #dee7f4;
  border: 1px solid #dee7f4;
  border-radius: 15px;
  justify-self: flex-start;
  margin-right: 1.5rem;
}

.cities .fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.cities-main-data {
  padding-bottom: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cities-main-data .cities-temp {
  border-right: 1px solid #bfbfc4;
}

.cities-main-data .cities-temp {
  font-size: 1.5rem;
}

.cities-main-data .city {
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

.cities-main-data button {
  /* x*/
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  border: none;
  background: none;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.cities-advanced-data {
  /* x axis */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.cities-advanced-data .middle-data {
  border-right: 1px solid #bfbfc4;
  border-left: 1px solid #bfbfc4;
  padding: 0 1rem;
}

.cities-advanced-data p {
  color: #bfbfc4;
}

.cities-main-data, .cities-advanced-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (prefers-color-scheme: light) {
  .showcase-location,
  .temp {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .showcase-location {
    color: #b9babd;
  }
  body {
    background: #6d7e8c;
  }
  .fa-moon {
    color: #7f7d94;
  }
  .fa-arrow-alt-circle-down,
  .fa-arrow-alt-circle-up {
    color: #adadc7;
  }
  * {
    color: #b9babd;
  }
  .fa-sync-alt {
    color: #7598bd;
  }
  .cities .add input {
    background-color: #232733;
  }
  .cities .add .fa-plus-square {
    color: #7598bd;
  }
  .main-container {
    background: #232733;
  }
  .forecast-card,
  .highlights-card,
  .cities-selection {
    background: #2b2f3f;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  .day {
    font-weight: bold;
  }
  .highlights .uv-index {
    border: none;
    color: #ffffff;
  }
  .forecast-num {
    background: #7598bd;
    border: 10px solid #7598bd;
    height: 100%;
    width: 110%;
    border-radius: 15px;
  }
  .forecast-num p {
    font-size: 0.9rem;
    color: #ffffff;
  }
}

@media (max-width: 1024px) {
  .main-container {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    height: 100%;
    max-width: 100%;
    padding: 0rem;
    margin: 0 auto;
    border-radius: 0px;
    border: none;
    gap: 1rem;
  }
  .data {
    padding: 2rem;
    width: 100vw;
  }
  .video-container,
  .showcase-container,
  .video-container::after,
  video {
    border-radius: 0px !important;
  }
  .showcase-container {
    margin: 0;
    padding: 0;
  }
  .current-temp-side {
    display: none;
    position: fixed;
  }
  .current-temp-side p {
    font-size: 0.8rem;
  }
  .showcase-container,
  header {
    max-width: 100vw;
  }
  .highlights {
    margin-top: 3rem;
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    width: 100%;
  }
  .highlights-container {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .highlights-card {
    padding: 1.5rem;
  }
  .highlights-heading {
    padding-top: 2.5rem;
  }
  .highlights-1, .highlights-2 {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .highlights .wind .highlights-card-heading {
    padding-top: 1rem;
  }
  header {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    width: 100%;
    padding: 2rem;
    margin-bottom: 0;
  }
  header .temp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .current-conditions-2 {
    margin: 10px 0 0 0;
    padding: 0rem;
  }
  .forecast {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .forecast-heading {
    margin-bottom: 0;
  }
  .cities {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */