@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* Add light/dark mode color change function */
* {
  /* CSS reset */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border-box  makes padding not effect the width/height of elements hi */
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* font-size for rem */
}

body {
  font-family: 'Open Sans',sans-serif;
  background: #E3E8EC;
}

.main-container {
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 1.5fr;
      grid-template-columns: repeat(3, 1fr) 1.5fr;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  background: #FFFFFF;
  height: 95%;
  padding: 50px;
  border-radius: 40px;
  margin: 5rem auto;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 90%;
}

header {
  background: url("/img/vegas.jpeg") no-repeat center/cover;
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  border-radius: 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding: 2rem;
}

header h1 {
  font-size: 2rem;
  text-shadow: 1px white;
  font-weight: normal;
  padding-bottom: 10px;
}

header h2 {
  font-size: 1.5rem;
}

header p {
  /* @extend .ml-10; using a class within another class */
  margin-left: 3.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .location .fas {
  padding: 10px;
  margin-top: 5px;
}

.cities {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  z-index: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  max-height: 90vh;
  border: 2px solid black;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-rows: (1.5fr)[3];
      grid-template-rows: repeat(3, 1.5fr);
}

.cities-selection {
  border: 2px solid black;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.temp h2 {
  padding: 0 20px;
}

.column-small {
  height: 240px;
}

.fa-sun {
  color: #FF8838;
}

.fa-wind {
  color: #B8B9BD;
}

.forecast-heading {
  margin: 0px 0px 20px 10px;
  font-size: 20px;
}

.forecast-heading-bold {
  font-weight: bold;
  font-size: 20px;
}

.forecast-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1rem;
  height: 240px;
}

.forecast-card {
  -webkit-box-shadow: 1px 1px 1px 1px #E3E8EC;
          box-shadow: 1px 1px 1px 1px #E3E8EC;
  border: 1px solid #E3E8EC;
  border-radius: 15px;
  font-size: 20px;
  height: 55px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.5fr 1.5fr 1fr;
      grid-template-columns: 0.5fr 1.5fr 1fr;
}

.forecast-card i {
  padding-left: 5px;
}

.forecast-card .conditions {
  font-size: 0.8rem;
  color: #BFBFC4;
}

.forecast-text {
  padding: 5px;
}

.forecast-num {
  background: #DEE7F4;
  border: 10px solid #DEE7F4;
  height: 100%;
  width: 110%;
  color: #0D0D24;
  border-radius: 15px;
}

.forecast-num p {
  font-size: 0.9rem;
}

.places {
  height: 240px;
}

.places i {
  padding: 0 10px;
}

.places h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0px 0px 20px 10px;
}

.places h2 span {
  font-weight: bold;
  font-size: 20px;
}

.places div {
  background: url(/img/bellagio-fountains-4.jpeg) no-repeat center/cover;
  height: 90%;
  width: 90%;
  border-radius: 30px;
  /* subtracting 10px from border radius var */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  color: #FFFFFF;
}

.places div p {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .main-container {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 100%;
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 0px;
    border: none;
  }
  header {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    width: 95%;
  }
  .forecast {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .places {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .cities {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}
/*# sourceMappingURL=style.css.map */