/* Add light/dark mode color change function */

@function set-color($color){
    // function accepts a color as its parameter
    
    @if(lightness($color)>70){
        // lightness is a pre built sass function that checks how light a color is 
        @return #333;
    } @else {
        @return #fff;
    }
}

$space-increments:(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20);

@each $space in $space-increments {
   
    .m-#{$space} {
        margin:#{$space}px;
    }

    .mx-#{$space} {
        margin:0 #{$space}px;
    }

    .my-#{$space} {
        margin:#{$space} 0px;
    }

    .mt-#{$space}{
        margin-top: #{$space}px;
    }

    .mr-#{$space}{
        margin-right: #{$space}px;
    }

    .mb-#{$space}{
        margin-bottom: #{$space}px;
    }

    .ml-#{$space}{
        margin-left: #{$space}px;
    }

    .p-#{$space}{
        padding: #{$space}px;
    }

    .px-#{$space}{
        padding:0 #{$space}px;
    }

    .py-#{$space}{
        padding: #{$space} 0px;
    }

    .pt-#{$space}{
        padding-top: #{$space}px;
    }

    .pr-#{$space}{
        padding-right: #{$space}px;
    }
    
    .pb-#{$space}{
        padding-bottom: #{$space}px;
    }

    .pl-#{$space}{
        padding-left: #{$space}px;
    }


}