@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import '_utilities';

$primary-color: #FFFFFF;
$secondary-color:  #E3E8EC;
$font-color: #0D0D24;
$border-radius: 40px;
$border-radius-small:15px;
$small-column-height: 240px;
$heading-font-size: 20px;

* {
    /* CSS reset */
    box-sizing: border-box;
    /* border-box  makes padding not effect the width/height of elements */
    margin: 0;
    padding: 0;
    font-size: 16px; 
    /* font-size for rem */
}

body{
    font-family: 'Open Sans',sans-serif;
    background: $secondary-color;
}

@mixin container {
    width: 90%;
   max-width: 1500px;
   margin: 0 auto;
   overflow: auto; 
   
} 

.main-container{
   @include container;
    display: grid;
    grid-template-columns: repeat(3,1fr) 1.5fr;
    align-items: space-between;
    justify-content: space-between;
    gap: 50px;
    background: #FFFFFF;
    height: 700px;
    padding: 50px;
    border-radius: $border-radius;
    margin-top: 50px;
    justify-items: stretch;
    align-items: stretch ;


}


header{
    background: url('/img/vegas.jpeg') no-repeat center/cover;
    max-width: 1200px; 
    width: 90vw;
    height:300px;
    margin:  0 auto;
    border-radius: $border-radius;
    grid-column: 1/5;
    grid-row: 1/3;
    padding: 30px;

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    p {
      /* @extend .ml-10; using a class within another class */
      margin-left: 4.5rem;
      padding: 0.5rem;
    }

    .location{
        display: flex;
        
        .fas {
            padding: 10px;
            margin-top: 5px;
        }
    }

}

.cities{
    grid-row: 2/4;
    z-index: 1;
    grid-column: 4/5;
    height: 425px;
    border: 2px solid black;

    @include container;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3,1.5fr);

    &-selection{
        border: 2px solid black;
        
    }

}

.temp{
    display: flex;
    padding-left: 2rem;

    h2 {
        padding: 0 20px;
    }

    
}

.column-small {

    height: $small-column-height;
   
}

.fa-sun{
    color: #FF8838;
}

.fa-wind{
    color: #B8B9BD;
}

.forecast{

    &-heading{
        margin: 0px 0px 20px 10px;
        font-size: $heading-font-size;

        &-bold{
            font-weight: bold;
            font-size: $heading-font-size;

        }
    }

    &-container{
       
        display: grid;
        flex-direction: column;
        grid-template-rows: 1fr;
        gap: 1rem;
        height: $small-column-height;
    }
    

    &-card{
        box-shadow: 1px 1px 1px 1px $secondary-color;
        border: 1px solid $secondary-color;
        border-radius:$border-radius-small;
        font-size: 20px;
        height: 55px;
       
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 0.5fr 1.5fr 1fr;

        i {
            padding-left: 5px;
        }

        .conditions{
            font-size: 0.8rem;
            color: #BFBFC4;
        }

       
    }

    &-text{
        padding: 5px;
    }

    &-num{
        background:#DEE7F4;
        border: 10px solid #DEE7F4;
        height: 100%;
        width: 110%;
        color: #0D0D24;
        border-radius: $border-radius-small;
       
    }

}

.places{
    height: $small-column-height;
    
    i{
        @extend .px-10;
    }
   
    h2{
        font-size: $heading-font-size;
        font-weight: normal;
        margin: 0px 0px 20px 10px;

        span {
            font-weight: bold;
            font-size: $heading-font-size;
        }
    }

    div {
        background: url(/img/bellagio-fountains-4.jpeg) no-repeat center/cover;
        height: 90%;
        width: 90%;
        border-radius: $border-radius ---10px;
        /* subtracting 10px from border radius var */
        display: flex;
        @extend .p-15;
        color: $primary-color;

        p {
            font-size: 0.8rem;
        }
        
    }
   
}





